<!DOCTYPE html>
<html class="inviteHtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0" />    
    <link rel="shortcut icon"  href="https://pro-kg-oss.oss-cn-beijing.aliyuncs.com/ico/favicon.ico" type="image/x-icon">    
    <meta name="apple-mobile-web-capable" content="yes">
    <title>收徒弟，看文章。徒弟数量不封顶，每天轻松过百</title>
    <link type="text/css" href="https://g.alicdn.com/sd/ncpc/nc.css?t=1517295462152" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script>
    <script type='text/javascript'>
      !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
        gio('init', 'a5372fa9e5844884', {});
      //custom page code begin here
      //custom page code end here
      gio('send');
    </script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
<style>
  html,body, #app {
    width: 100%;
    padding: 0;
    margin: 0;
  }
</style>
