<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>上传视频</title>
  <link rel="shortcut icon" href="https://pro-kg-oss.oss-cn-beijing.aliyuncs.com/ico/favicon.ico" type="image/x-icon">
  <style>
    body {
      background: #f4f4f4!important;
    }

    p em {
      font-style: italic!important;
    }
  </style>
  <script type='text/javascript'>
    !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
      gio('init', 'a5372fa9e5844884', {});
    //custom page code begin here
    //custom page code end here
    gio('send');
  </script>
</head>

<body>
  <div id="app">

  </div>
  <!-- <script src='//kefu.easemob.com/webim/easemob.js?configId=d07c7d7f-1407-4d0f-9026-d70d51fbdd12'></script> -->
  <!-- built files will be auto injected -->
  <!-- <script src='//kefu.easemob.com/webim/easemob.js?configId=de10b7f6-92ba-495c-93c1-a4e78b82eadd'></script> -->
</body>

</html>