<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes”
  />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>用户注册协议</title>
  <link rel="shortcut icon" href="https://pro-kg-oss.oss-cn-beijing.aliyuncs.com/ico/favicon.ico" type="image/x-icon">
  <link type="text/css" href="https://g.alicdn.com/sd/ncpc/nc.css?t=1517295462152" rel="stylesheet" />
  <script type="text/javascript" src="https://g.alicdn.com/sd/ncpc/nc.js?t=1517295462152"></script>
  <script type='text/javascript'>
    !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
      gio('init', 'a5372fa9e5844884', {});
    //custom page code begin here
    //custom page code end here
    gio('send');
  </script>
  <style>
    body,
    html {
      /*width:1100px!important;*/
    }
  </style>
</head>

<body>
  <div id="app">

  </div>
  <!-- <script src='//kefu.easemob.com/webim/easemob.js?configId=d07c7d7f-1407-4d0f-9026-d70d51fbdd12'></script> -->
  <!-- built files will be auto injected -->
  <script>
    (function () {
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
  </script>
  <script src='//kefu.easemob.com/webim/easemob.js?configId=de10b7f6-92ba-495c-93c1-a4e78b82eadd'></script>
  <script type="text/javascript">
    function loadWb() {
      window.location.href = 'https://api.weibo.com/oauth2/authorize?client_id=3092770607&redirect_uri=http://kg.btc123.com/dist/views/relevanceAccount/list.html'
    }
    function loadWx() {
      window.location.href = 'https://open.weixin.qq.com/connect/qrconnect?appid=wx1fa983464d64de9e&redirect_uri=http://kg.btc123.com/dist/views/relevanceAccount/list.html&response_type=code&scope=snsapi_login&state=STATE#wechat_redirect'
    }
    function reload2() {
      window.location.reload()
    }
    function reload() {
      window.location.href = 'http://kg.btc123.com/dist/views/relevanceAccount/list.html'
    }
  </script>
</body>
</html>

