<!DOCTYPE html>
<html  xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,maximum-scale=1">  
     <meta name="baidu-site-verification" content="rZbbAp5b1N" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name='apple-itunes-app' content='app-id=1381042034'>
    <title></title>
    <link rel="shortcut icon"  href="https://pro-kg-oss.oss-cn-beijing.aliyuncs.com/ico/favicon.ico" type="image/x-icon">
    <!-- <script src="../../../assets/js/wb.js" type="text/javascript" charset="utf-8"></script> -->
    <!-- <script src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script> -->
    <link type="text/css" href="https://g.alicdn.com/sd/ncpc/nc.css?t=1517295462152" rel="stylesheet"/>
    <!-- <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script> -->
    <script type="text/javascript" src="https://g.alicdn.com/sd/ncpc/nc.js?t=1517295462152"></script>

    <script type="text/javascript">
            //gio代码
            !function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
            gio('init', 'a5372fa9e5844884', {});
            gio('send');

            //百度站长
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?15398d36b37950dc2bfb56dd6ea7e141";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
    </script>
   <style>
   .commentInput .textarea .el-textarea__inner{
      border:0!important;
      resize: none;
   }
</style>
  </head>
  <body>
    <div id="app">
		
	</div>
<script type="text/javascript" src = "https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
     function loadWb(){
      window.location.href = 'https://api.weibo.com/oauth2/authorize?client_id=285478707&redirect_uri=https://www.kg.com/relevanceAccount/list.html'
     }     
     function loadWx(){
      window.location.href = 'https://open.weixin.qq.com/connect/qrconnect?appid=wx1fa983464d64de9e&redirect_uri=https://www.kg.com/relevanceAccount/list.html&response_type=code&scope=snsapi_login&state=STATE#wechat_redirect'
     }
     function reload2(){
      window.location.reload()
     }
     function reload(){
      window.location.href = 'https://www.kg.com/relevanceAccount/list.html'
     }
</script>
  </body>
      <script type="text/javascript">
      //CNZZ的统计代码
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273663451'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D1273663451%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script>
</html>
